<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('疏浚计划单')"/>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">计划单号</label>
                <div class="layui-input-inline">
                    <input type="text" name="dredgeNo" placeholder="" class="layui-input">
                </div>

                <label class="layui-form-label">河段编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="reachCode" placeholder="" class="layui-input">
                </div>
                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="dgPlan-query">
                    <i class="layui-icon layui-icon-search"></i>
                    查询
                </button>
                <button type="reset" class="pear-btn pear-btn-md">
                    <i class="layui-icon layui-icon-refresh"></i>
                    重置
                </button>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="dgPlan-table" lay-filter="dgPlan-table"></table>
    </div>
</div>
</body>

<script type="text/html" id="dgPlan-toolbar">
    <button shiro:hasPermission="dredge:dgPlan:add" class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
    <button shiro:hasPermission="dredge:dgPlan:remove" class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>
</script>

<script type="text/html" id="dgPlan-bar">
    {{# if (d.planStatus == 0) { }}
    <button shiro:hasPermission="dredge:dgPlan:archive" class="pear-btn pear-btn-warming pear-btn-sm" lay-event="archive" title="归档"><i class="layui-icon layui-icon-ok"></i>
    </button>
    <button shiro:hasPermission="dredge:dgPlan:edit" class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit" title="修改"><i class="layui-icon layui-icon-edit"></i>
    </button>
    <button shiro:hasPermission="dredge:dgPlan:remove" class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove" title="删除"><i class="layui-icon layui-icon-delete"></i>
    </button>
    {{# } }}
</script>

<script type="text/html" id="dgPlan-status">
    {{# if (d.planStatus == 1) { }}
    <span class="layui-badge layui-bg-green">已归档</span>
    {{# } else { }}
    <span class="layui-badge layui-bg-orange">待确认</span>
    {{# } }}
</script>

<th:block th:include="include :: footer"/>
<script>
    layui.use(['table', 'form', 'jquery'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;

        let MODULE_PATH = rootPath+"/DgPlanController/";
        let cols = [
            [
                 {type: 'checkbox'},
                {title: 'ID', field: 'id', align: 'center', hide: true},
                {title: '计划单号', field: 'dredgeNo', align: 'left'},
                {title: '河段编号', field: 'reachCode', align: 'left'},
                {title: '计划月份', field: 'planMonth', align: 'center'},
                {title: '计划方量(m³)', field: 'planCube', align: 'center'},
                {title: '完成方量(m³)', field: 'doneCube', align: 'center'},
                {title: '完成率(%)', field: 'doneRate', align: 'center'},
                {title: '编制人', field: 'planBy', align: 'center'},
                {title: '计划状态', field: 'planStatus', align: 'center', toolbar: '#dgPlan-status'},
                {title: '创建时间', field: 'createTime', align: 'center'},
                {title: '操作', toolbar: '#dgPlan-bar', align: 'center'}
            ]
        ]

        //table表单列表
        table.render({
            elem: '#dgPlan-table',
            url: MODULE_PATH + 'list',
            page: true,
            method: 'get',
            cols: cols,
            skin: 'line',
            toolbar: '#dgPlan-toolbar',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports'],
            where: {
                orderByColumn: "id",
                isAsc: "desc"
            }
        });

        //table图标事件绑定
        table.on('tool(dgPlan-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            } else if (obj.event === 'archive') {
                window.archive(obj);
            }
        });

        //table工具栏绑定
        table.on('toolbar(dgPlan-table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj);
            }
        });

        //查询按钮绑定
        form.on('submit(dgPlan-query)', function (data) {
            table.reload('dgPlan-table', {where: data.field})
            return false;
        });


        //添加
        window.add = function () {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['500px', '600px'],
                content: MODULE_PATH + 'add'
            });
        }
        //修改
        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改',
                shade: 0.1,
                area: ['500px', '600px'],
                content: MODULE_PATH + 'edit/' + obj.data['id']
            });
        }

        //归档
        window.archive = function (obj) {
            layer.confirm('确定归档计划单[' + obj.data['dredgeNo'] + ']？归档后不可再修改', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "archive?id=" + obj.data['id'],
                    dataType: 'json',
                    type: 'post',
                    success: function (result) {
                        layer.close(loading);
                        if (result.code==200) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                table.reload('dgPlan-table');
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }

        //删除
        window.remove = function (obj) {
            layer.confirm('确定要删除该计划单', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "remove?ids=" + obj.data['id'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.code==200) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                obj.del();
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }

        //批量删除
        window.batchRemove = function (obj) {
            let data = table.checkStatus(obj.config.id).data;
            if (data.length === 0) {
                layer.msg("未选中数据", {icon: 3, time: 1000});
                return false;
            }
            let ids = "";
            for (let i = 0; i < data.length; i++) {
                ids += data[i].id + ",";
            }
            ids = ids.substr(0, ids.length - 1);
            layer.confirm('确定要删除这些计划单', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: MODULE_PATH + "remove?ids=" + ids,
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.code==200) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                table.reload('dgPlan-table');
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }
        //刷新按钮
        window.refresh = function () {
            table.reload('dgPlan-table');
        }
    })
</script>
</html>
